body {
    background-image: url(../img/10239.jpg);
} 


.offcanvas {
    background-color: white;
}


.nav-item:hover {
    background-color: rgba(0, 0, 243, 0.678);
    border-radius: 3%;
    text-align: center;
}

.container-fluid {
    background-color: rgba(250, 166, 10, 0.74);
}

.img-adn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    justify-content: left;
    background-color: rgba(250, 166, 10, 0.74);
}

img {
    width: 350px;
    height: 350px;  
}

.escudos {
    display: grid;
    grid-template-areas:
    'escudos escudos escudos'
    'escudos escudos escudos'
    'escudos escudos escudos';
}
.div {
    margin-top: 90px;
    margin-left: 90px;
    margin-bottom: 20px;
}

.navbar-toggler {
    background-color: white;
}

.carousel-inner {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 100px;
}

.pie-pagina {
    text-align: center;
    margin-top: 35px;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.div-pie {
    width: 70%;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    color: white;
    border-bottom: 1px solid #d5d5d5;
}

.copyright {
    color: white;
    margin-left: 800px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}



.fot {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
}


/* Primera */

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    background-color: #007132;
    border: solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
    color: aliceblue;
}

.sub-caja {
    display: block;
    padding-left: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: seagreen;
    color: white;
}

.caja-img {
    height: 90px;
    width: 90px;
}

.tabla {
    width: 990px;
    margin-right: 90px;
    margin-left: 500px;
    margin-top: 60px;
    text-align: center;
    border-collapse: separate;
    background: #797979;
   
}

.encabezado {
    background-color: black;
    color: white;
}

tr {
    background-color: rgb(233, 227, 219);
}

.pos-1 {
    background-color: #03b653;
}
.pos-2 {
    background-color: #03b653;
}
.pos-3 {
    background-color: rgb(236, 236, 52);
}
.pos-4 {
    background-color: rgb(236, 236, 52);
}
.pos-5 {
    background-color: rgb(236, 236, 52);
}
.pos-6 {
    background-color: rgb(236, 236, 52);
}

.img-tabla {
    width: 25px;
    height: 25px;
}
.equipo-libre {
    width: 990px;
    margin-left: 500px;
    text-align: center;
    border-collapse: separate;
    background: #797979;
}

.marcador {
    background-color: rgb(255, 254, 254);
}

.goleador {
    width: 490px;
    margin-right: 90px;
    margin-left: 750px;
    margin-bottom: 20px;
    text-align: center;
    border-collapse: separate;
    background: #797979;
}

.gol-titulo {
    width: 490px;
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-left: 750px;
    margin-right: 90px;
}

.parrafo {
    margin-bottom: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.posi-1 {
    background-color: #04ff75;
}


