body {
    background-image: url(../img/depositphotos_331028182-stock-photo-seamless-texture-of-artificial-green.jpg);
} 


.offcanvas {
    background-color: white;
}


.nav-item:hover {
    background-color: rgba(0, 0, 243, 0.678);
    border-radius: 3%;
    text-align: center;
}

.container-fluid {
    background-color: rgba(250, 166, 10, 0.74);
}

.img-carousel {
    width: 800px;
    height: 400px;
}

.img-adn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    justify-content: left;
    background-color: rgba(250, 166, 10, 0.74);
}

img {
    width: 350px;
    height: 350px;  
}

.escudos {
    display: grid;
    grid-template-areas:
    'escudos escudos escudos'
    'escudos escudos escudos'
    'escudos escudos escudos';
}
.div {
    margin-top: 90px;
    margin-left: 90px;
    margin-bottom: 20px;
}

.navbar-toggler {
    background-color: white;
}

.carousel-inner {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 100px;
}

.pie-pagina {
    text-align: center;
    margin-top: 35px;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.div-pie {
    width: 70%;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    color: white;
    border-bottom: 1px solid #d5d5d5;
}

.copyright {
    color: white;
    margin-left: 800px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}



.fot {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
}


/* Primera */

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    background-color: #007132;
    border: solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
    color: aliceblue;
}

.sub-caja {
    display: block;
    padding-left: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: seagreen;
    color: white;
}

.caja-img {
    height: 90px;
    width: 90px;
}

.conteiner {
    display: flex;
}

.conteiner-tabla {
    display: flex;
}

.cruces {
    border-color: black;
    background-color: #03b653;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.cruces-caja {
    background-color: #03b653;
    margin-top: 250px;
    padding: 20px;
}
.cruces-2 {
    border:black;
    background-color: #03b653;
    padding: 20px;
    margin-top: 150px;
}
.cruces-caja-2 {
    margin-top: 50px;
    background-color: #03b653;
    padding: 20px;
}
.cruces-3 {
    border:black;
    background-color: #03b653;
    padding: 20px;
    margin-top: 250px;
}
.img-cruce {
    width: 60px;
    height: 60px;
}

.marcador-cruces {
    text-align: center;
    font-family: cursive;
    background-color: black;
    color: white;
}

.conector {
    width: 40px;
    height: 100px;
    margin-top: 110px; 
    border: solid orange;
    border-left-style: none;
    border-bottom-style: none;
}
.conector-2 {
    width: 12px;
    height: 0px; 
    margin-top: 206px; 
    border: 2px solid orange;
}
.conector-3 { 
    width: 40px;
    height: 110px;
    margin-top: 170px; 
    border: solid orange;
    border-left-style: none;
    border-top-style: none;
}
.conector-4 {
    width: 12px;
    height: 0px; 
    margin-top: 170px; 
    border: 2px solid orange;
} 
.conector-5 {
    width: 40px;
    height: 180px;
    margin-top: 206px;
    border: solid orange;
    border-left-style: none;
}
.conector-6 {
    width: 12px;
    height: 0px; 
    margin-top: 300px; 
    border: 2px solid orange;
}

.tabla {
    width: 990px;
    margin-right: 90px;
    margin-left: 75px;
    margin-top: 60px;
    text-align: center;
    border-collapse: separate;
    background: #797979;
   
}

.encabezado {
    background-color: black;
    color: white;
}

tr {
    background-color: rgb(233, 227, 219);
}

.pos-1 {
    background-color: #03b653;
}
.pos-2 {
    background-color: #03b653;
}
.pos-3 {
    background-color: rgb(236, 236, 52);
}
.pos-4 {
    background-color: rgb(236, 236, 52);
}
.pos-5 {
    background-color: rgb(236, 236, 52);
}
.pos-6 {
    background-color: rgb(236, 236, 52);
}

.img-tabla {
    width: 25px;
    height: 25px;
}
.equipo-libre {
    width: 990px;
    margin-left: 75px;
    text-align: center;
    border-collapse: separate;
    background: #797979;
}

.marcador {
    background-color: rgb(255, 254, 254);
}

.goleador {
    width: 490px;
    margin-right: 90px;
    margin-left: 750px;
    margin-bottom: 20px;
    text-align: center;
    border-collapse: separate;
    background: #797979;
}

.gol-titulo {
    width: 490px;
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-left: 750px;
    margin-right: 90px;
}

.parrafo {
    margin-bottom: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.posi-1 {
    background-color: #04ff75;
}

/* INICIO */
@media screen and (max-width: 420px) {
    .carousel-inner {
        width: 80%;
    }
    .img-carousel {
        width: 250px;
        height: 250px;
    }
    .escudos {
        display: grid;
        grid-template-areas:
        'escudos escudos'
        'escudos escudos'
        'escudos escudos'
        'escudos escudos'
        'escudos' ;
    }
    img {
        width: 50px;
        height: 50px;
    }
    .div {
        margin-top: 90px;
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .div-pie {
        width: 80%;
        margin-left: 30px;
    }
    .pie-pagina {
        font-size: 10px;
    }
    .footer {
        height: 120px;
    }
    .fot {
        width: 10px;
        height: 10px;
        margin-top: 35px;
    }
    .copyright {
        margin-left: 80px;
        font-size: 10px;
    }
}    

/* PRIMERA */
@media screen and (max-width: 420px) {
    .sub-caja {
        padding-left: 170px;
    }
    .tabla {
        width: 394px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .equipo-libre {
        width: 394px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .gol-titulo {
        width: 394px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .goleador {
        width: 394px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .conteiner {
        display: block;
        margin-left: 9px;
    }
    .cruces {
        padding: 5px;
    }
    .cruces-caja {
        padding: 5px;
    }
    .conector {
        margin-top: 90px; 
    }
    .conector-2 {
        margin-top: 186px;
    }
    .conector-3 {
        margin-top: 120px;
    }
    .conector-4 {
        margin-top: 120px;
    }
    .conector-5 {
        height: 140px;
        margin-top: 180px;
    }
    .conector-6 {
        margin-top: 250px;
    }
    .img-cruce {
        width: 40px;
        height: 40px;
    }
    .cruces-2 {
        padding: 5px;
    }
    .cruces-caja-2 {
        padding: 5px;
    }
    .cruces-3 {
        padding: 5px;
        margin-top: 210px;
    }
    .gol-titulo {
        margin-left: 6px;
    }
    .goleador {
        margin-left: 5px;
    }

}